<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/notifIt/css/notifIt.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/notifIt/js/notifIt.js"></script>
  <script src="/js/main.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="/img/img-BeepBeep.png" type="image/x-icon" />
  <title>
    <%= title %>
  </title>
</head>

<body id="body-pd">
  <!-- Navbar -->
  <header class="header navbar navbar-expand-md pe-0" id="header">
    <div class="d-flex me-auto header_toggle">
      <button class="sidebar-btn" onclick="toggleSidebar()">
        <i class="bx bx-menu mx-4" id="header-toggle"></i>
      </button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="bx bx-menu mx-4 header_toggle"></span>
    </button>
    <form class="d-flex ms-auto">
      <div class="input-group flex-nowrap" style="border: 1px solid #d0d0d0; border-radius: 4px">
        <span class="input-group-text bg-white border-0" id="addon-wrapping"><i class="bx bx-search"></i></span>
        <input class="form-control border-0" type="search" placeholder="Search" aria-label="Search"
          aria-describedby="addon-wrapping" />
        <button class="btn btn-outline-primary btn-search" type="submit">
          Search
        </button>
      </div>
    </form>
    <div class="btn-group ms-2 user-setting">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
        aria-expanded="false">
        <img src="/img/nav1.png" class="rounded-circle" alt="" style="width: 38px; height: 38px; object-fit: cover" />
        Unis Badri
      </button>
      <ul class="dropdown-menu dropdown-menu-sm-end">
        <li>
          <button class="dropdown-item" type="button">Setting</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">Logout</button>
        </li>
      </ul>
    </div>
  </header>

  <!-- Sidebar -->
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <table class="h-100">
        <tr>
          <td style="vertical-align: top; width: 60px; padding: 0px">
            <img class="nav_logo" src="/img/nav2.png" />
            <a href="/" class="nav_link"><img src="/img/Home.png" alt="" /></a>
            <a href="/cars" class="nav_link active-menu"><img src="/img/Administrator.png" alt="" /></a>
          </td>
          <td style="
                vertical-align: top;
                background-color: #ffffff;
                padding: 0px;
              ">
            <img class="nav_logo" src="/img/nav1.png" />
            <p class="nav_title" style="margin-top: 17px">CARS</p>
            <a href="/cars" class="nav_title text-black bg-color-1" style="text-decoration: none">List Car</a>
          </td>
        </tr>
      </table>
    </nav>
  </div>
</body>

</html>