<!-- Include Header -->
<%- include('layouts/header'); %>
<!-- Main Content (Dashboard) -->
<section class="main-content">
  <div class="text-center mt-5 pt-5">
    <h1>Page is under development</h1>
  </div>
</section>
<!-- Include Footer -->
<%- include('layouts/footer'); %>