@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@media screen and (min-width: 768px) {
  body {
    margin: calc(60px + 1rem) 0 0 0;
    padding-left: calc(250px);
  }

  .header {
    padding: 0 2rem 0 calc(250px) !important;
  }

  .l-navbar {
    left: 0;
    padding: 0;
  }

  .header-sec {
    padding-left: calc(250px - 290px);
  }

  .expand {
    width: calc(250px - 250px);
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: calc(60px + 1rem) 0 0 0;
    padding-left: calc(250px - 250px);
  }

  .header {
    padding: 0 2rem 0 calc(250px - 250px);
  }

  .l-navbar {
    left: -250px;
    padding: 0;
  }

  .header-sec {
    padding-left: calc(250px -250px);
  }
}

body {
  background-color: #e5e5e5;
  position: relative;
  margin: 60px 0 0 0;
  transition: 0.5s;
  height: 100vh;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.sidebar-btn {
  background-color: transparent;
  border: none;
}

#nav-bar {
  transition: all 0.25s;
}

.list-car-container {
  background-color: #f4f5f7;
}

.title-content {
  display: flex;
  justify-content: space-between;
}

.btn-addcar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #0d28a6;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.btn-addcar:hover {
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
  z-index: 100;
  transition: 0.5s;
}

.header_toggle {
  font-size: 24px;
  cursor: pointer;
}

.l-navbar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #0d28a6;
  padding: 0px;
  transition: 0.5s;
  z-index: 100;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  padding: 0;
}

.nav_logo {
  padding: 15px 18px 21px 18px;
}

.nav_link {
  position: relative;
  transition: 0.3s;
}

.nav_link:hover {
  background-color: #333;
}

.nav_title {
  color: #8a8a8a;
  display: block;
  font-weight: 700;
  font-size: 14px;
  padding: 1rem;
  width: 100%;
  margin: 0px;
}

.active-menu {
  color: #cfd4ed;
  background-color: rgba(207, 212, 237, 0.5);
}

.active-filter {
  color: #0d28a6 !important;
  border-color: #0d28a6 !important;
  background-color: #cfd4ed;
}

.btn-add-car {
  background-color: #0d28a6;
  color: #ffffff;
}

.btn-search {
  background-color: #fff;
  color: #0d28a6;
  border-color: #0d28a6;
}

.btn-search:hover {
  background-color: #0d28a6;
  color: #cfd4ed;
}

.toggle-header-small {
  padding: 0 2rem 0 calc(250px);
}

.filter-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.btn-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  background: #ffffff;
  border: 1px solid #aeb7e1;
  box-sizing: border-box;
  border-radius: 2px;
  color: #aeb7e1;
}

.btn-filter:hover,
.btn-filter:focus {
  background: #cfd4ed;
  color: #0d28a6;
}

.btn-save {
  background: #0d28a6;
  color: #cfd4ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  font-weight: bold;
}

.btn-cancel {
  background: #fff;
  color: #0d28a6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  border-radius: 2px;
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  font-weight: bold;
}

#cars-container .image-container {
  padding: 12px;
  background: #ffffff;
  border-radius: 8px;
}

#cars-container .image-container > img {
  max-width: 270px;
  max-height: 160px;
}

#cars-container .card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  max-width: 350px !important;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btn-delete {
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #fa2c5a;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  color: #fa2c5a;
}

.btn-edit {
  padding: 8px 12px;
  background: #5cb85f;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: white;
}

.btn-delete:hover,
.btn-edit:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.modal-delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}