<!-- Include Header -->
<%- include('../layouts/header'); %>
<!-- Main Content (Dashboard) -->
<section class="main-content">
  <div class="h-100 mx-4">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb pt-3">
        <li class="breadcrumb-item">
          <a href="/cars" class="fw-bold text-black text-decoration-none"
            >Cars</a
          >
        </li>
        <li class="breadcrumb-item">
          <a href="/cars" class="fw-bold text-black text-decoration-none"
            >List Car</a
          >
        </li>
        <li class="breadcrumb-item active">Add New Car</li>
      </ol>
    </nav>
    <h5 class="fw-bold text-black text-decoration-none">Add New Car Data</h5>
    <div class="card p-4" style="max-width: 100% !important">
      <form id="form-add-car" enctype="multipart/form-data">
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label"
            >Car Name <span style="color: red">*</span></label
          >
          <div class="col-sm-10 w-50">
            <input
              class="form-control"
              type="text"
              id="name"
              placeholder="Avanza"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="price" class="col-sm-2 col-form-label"
            >Rent/Day Price <span style="color: red">*</span></label
          >
          <div class="col-sm-10 w-50">
            <input
              class="form-control"
              type="tel"
              id="price"
              placeholder="Rp.-0"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="size" class="col-sm-2 col-form-label"
            >Size <span style="color: red">*</span></label
          >
          <div class="col-sm-10 w-50">
            <select
              id="size"
              aria-label="Default select example"
              class="col-3 form-control w-light"
              required
            >
              <option selected value="">
                <span style="color: grey">Choose Size</span>
              </option>
              <option value="1">Small</option>
              <option value="2">Medium</option>
              <option value="3">Large</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="photo" class="col-sm-2 col-form-label"
            >Photo <span style="color: red">*</span></label
          >
          <div class="col-sm-10 input-group w-50">
            <input
              class="form-control"
              id="photo"
              type="file"
              placeholder="IMG/2/2022/001"
              accept="image/*"
            />
            <label class="input-group-text" for="photo"
              ><i id="icon" class="bi bi-box-arrow-up"></i
            ></label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <p class="fw-lighter fs-6">File Size Max 2MB</p>
          </div>
        </div>
      </form>
    </div>
    <div class="filter-btns mt-4">
      <button
        class="btn-cancel"
        type="button"
        onclick="window.location.href = '/cars';"
      >
        Cancel
      </button>
      <button
        class="btn-save"
        type="button"
        id="btn_add_car"
        onclick="addCar()"
      >
        Save
      </button>
    </div>
  </div>
</section>
<!-- Include Footer -->
<%- include('../layouts/footer'); %>
