<!-- Include Header -->
<%- include('../layouts/header'); %>
<!-- Main Content (List Cars) -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="/img/img-BeepBeep.png" alt="img-BeepBeep.png">
        <h6 class="my-2">Menghapus Data Mobil</h6>
        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
        <div class="modal-delete-btns">
          <button type="button" class="btn-save w-25" id="btn-hps" data_id="" onclick="destroyCar(this)">Ya</button>
          <button type="button" class="btn-filter w-25" data-bs-dismiss="modal" onclick="hideModal()">Tidak</button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main-content" id="list_car">
  <div class="list-car-container">
    <div class="p-3">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/cars" class="fw-bold text-black text-decoration-none"
              >Cars</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">List Car</li>
        </ol>
      </nav>
      <div class="title-content">
        <h4>List Car</h4>
        <a href="/cars/add" class="btn btn-addcar">&plus; Add New Car</a>
      </div>
      <div class="filter-btns">
        <button class="btn-filter" onclick="getCars()">All</button>
        <button class="btn-filter" onclick="getCars('1')">Small</button>
        <button class="btn-filter" onclick="getCars('2')">Medium</button>
        <button class="btn-filter" onclick="getCars('3')">Large</button>
      </div>
      <div class="row mt-4" id="cars-container"></div>
    </div>
  </div>
</section>
<!-- Include Footer -->
<%- include('../layouts/footer'); %>
